body,
html {
  height: 100vh;
  margin: 0;
}

h1,
a,
p {
  font-family: 'Manrope';
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: Manrope;
}

.item {
  flex: 1;
  padding: 60px 150px 40px 150px;
  height: fit-content;
}

.header {
  background-color: #2565E5;
  color: #FFFFFF;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* TODO: check in all browser gap may not work use
    commented margin above instead
  */
  gap: 12px;
}

.header-nav-list>a {
  /* margin: 10px; */
  color: #FFFFFF;
  text-decoration: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-content > article {
  flex-basis: 30%;
}

.header-content > img {
  margin-top: 50px;
}

.article-head {
  color: #3F3F3F;
}

.article {
  background-color: #F1F2F2;
}

.article-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.article-content>p {
  width: 330px;
  color: #3F3F3F;
}

.picture-label,
.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.image-list {
  display: inline-flex;
  flex-direction: column;
}

.image-list>img {
  width: 360px;
}

.picture-label>h3 {
  color: #2565E5;
}

.picture-label>.line {
  width: 300px;
}

.calculator {
  background-color: #2565E5;
  color: #FFFF;
}

.calculator-main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}

.line {
  width: 70vh;
  border: 1px solid;
}

input,
select,
button {
  min-width: 150px;
  padding: 12px 20px;
  border-radius: 9px;
}

select {
  width: 194px;
  padding: 15px;
  background-color: #FFFFFF;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

select {
  background-position: calc(100% - 3px) center;
  background-image: url("./dropdown_arrow.png");
  background-repeat: no-repeat;
  background-size: 10px;
}

/* To remove the arrow of select element in IE */
select::-ms-expand {
  display: none;
}

.button {
  padding: 12px 20px;
}

.button,
button {
  transition-duration: 0.4s;
}

.button,
button {
  color: #2565E5;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  cursor: pointer;
}

.button:hover,
button:hover {
  background-color: #2565E5;
  color: #FFFFFF;
}

.button:active,
button:active {
  background-color: #2565E5;
  box-shadow: 0 5px #FFFFFF;
  transform: translateY(4px);
}

/* Drag and drop */

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 9px;
  max-width: 480px;
  padding: 50px 70px 50px 70px;
}

.my-form {
  display: flex;
  justify-content: space-around;
}

.my-form>label {
  color: #2565E5;
  border: 1px solid #FFFFFF;
  background-color: #F1F2F2;
  border-radius: 9px;
  cursor: pointer;
}

#fileElem {
  display: none;
}

.calculator-file-load {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.calculator-file-load-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.accept {
  flex-basis: 35%;
}

.accept>input {
  height: 24px;
}

.drop-file {
  flex-basis: 55%;
}

.white {
  color: #FFFFFF;
}

.blue {
  color: #2565E5;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F1F2F2;
}

.contacts>div {
  max-width: 480px;
}

.footer {
  background-color: #2565E5;
}

@media only screen and (max-width: 768px) {
  .item {
    padding: 10px;
  }

  .header-content > article {
    flex-basis: 90%;
  }

  .header-content > img {
    width: 100%;
  }
}