body,
html {
  height: 100vh;
  margin: 0;
}

h1,
a,
p {
  font-family: 'Manrope';
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: Manrope;
}

.item {
  flex: 1;
  padding: 60px 150px 40px 150px;
  height: fit-content;
}

.header {
  background-color: #2565E5;
  color: #FFFFFF;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 12px;
}

.header-nav-list>a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin: 10px;
}

.header-nav>input[type="checkbox"] {
  display: none;
}

.header-nav-hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content>article {
  flex-basis: 50%;
}

.header-content>article>h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.header-content>article>h1>img {
  height: 33px;
  width: 15px;
}

.header-content>article>p {
  width: 560px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.header-content>img {
  margin-top: 100px;
  width: 540px;
  padding-right: 30px;
}

.article-head {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #3F3F3F;
}

.article-head>img {
  margin-right: 25px;
}

.article {
  background-color: #F1F2F2;
}

.article-content-first,
.article-content-second {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.article-content-second {
  justify-content: flex-start;
}

.article-content-first>p {
  width: 330px;
  margin-right: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #3F3F3F;
}

.article-content-second>p {
  /* flex-basis: 60%; */
  margin-right: 120px;
  width: 656px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #3F3F3F;
}

.picture-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  margin-bottom: 70px;
}

.label>h2 {
  flex-basis: 20%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.1em;
}

.line {
  margin-left: 10px;
  flex-basis: 80%;
  align-self: flex-end;
  width: 70vh;
  border-top: 1px solid #fff;
}

.image-list {
  display: inline-flex;
  flex-direction: column;
}

.image-list>img {
  width: 360px;
}

.picture-label>h3 {
  color: #2565E5;
}

.picture-label-line {
  width: 300px;
  border-top: 1px solid #2565E5;
  margin-top: 15px;
}

.calculator {
  background-color: #2565E5;
  color: #FFFF;
  padding-bottom: 147px;
}

.calculator-main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.score {
  margin-bottom: 100px;
}

.score>h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.score-result {
  display: flex;
  flex-direction: row;
  height: 68px;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0.1em;
  align-items: center;
}

.score-result>img {
  height: 64px;
  margin-right: 30px;
}

input,
select,
button {
  padding: 12px 20px;
  border-radius: 9px;
}

select {
  width: 270px;
  background-color: #FFFFFF;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

select {
  background-position: calc(100% - 3px) center;
  background-image: url("./img/dropdown_arrow.png");
  background-repeat: no-repeat;
  background-size: 10px;
}

select::-ms-expand {
  display: none;
}

.button {
  padding: 12px 20px;
}

.button,
button {
  transition-duration: 0.4s;
}

.button,
button {
  color: #2565E5;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  cursor: pointer;
}

.button:hover,
button:hover {
  background-color: #2565E5;
  color: #FFFFFF;
}

.button:active,
button:active {
  background-color: #2565E5;
  box-shadow: 0 5px #FFFFFF;
  transform: translateY(4px);
}

#drop-area {
  border: 2px dashed #FFFFFF;
  border-radius: 9px;
  height: 40px;
  width: 420px;
  padding: 50px 70px 50px 70px;
  margin-top: 32px;
}

.calculator-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calculator-form>label {
  color: #2565E5;
  border: 1px solid #FFFFFF;
  border-radius: 9px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  width: 120px;
  height: 37px;
  padding: 3px 20px 0px 20px;
}

#fileElem {
  display: none;
}

.calculator-file-load {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.calculator-file-load-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 32px;
}

.calculator-file-load-bot>button {
  width: 367px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.calculator-description {
  margin-bottom: 150px;
}

.calculator-description>h1 {
  max-width: 750px;
  font-size: 40px;
  letter-spacing: 0.03em;
  line-height: 120%;
}

.calculator-description>p {
  max-width: 670px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.calculator-main-text-item>input {
  width: 110px;
}

.calculator-main-text-dropdown {
  width: 270px;
  margin-right: 90px;
}

.calculator-main>button {
  width: 170px;
}

.accept {
  display: flex;
  flex-direction: row;
  flex-basis: 35%;
  align-items: flex-start;
  justify-content: flex-start;
}

.accept>input {
  min-width: 28px;
  height: 24px;
  margin-right: 24px;
}

.drop-file {
  flex-basis: 55%;
}

.white {
  color: #FFFFFF;
}

.blue {
  color: #2565E5;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F1F2F2;
}

.contacts>div {
  max-width: 480px;
}

.contacts {
  font-size: 20px;
  line-height: 150%;
}

.footer {
  background-color: #2565E5;
}

.footer {
  background-color: #2565E5;
  color: #FFFFFF;
}

.footer>p {
  text-align: center;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-nav-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px;
}

.footer-nav-list>a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin: 10px;
}

.policy {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 1224px) {
  .item {
    padding: 30px 24px 30px 24px;
  }

  .header-content {
    height: 900px;
  }

  .header-content>article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 300px;
    z-index: 1;
  }

  .header-content>article>p {
    width: 327px;
    text-align: left;
  }

  .header-content>article>h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.03em;
  }

  .header-content>img {
    margin-top: 0;
    width: 100%;
    position: absolute;
    top: 100px;
    right: -5px;
  }

  .header-nav-list {
    margin-top: 70px;
    flex-basis: 100%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .header-nav-list>a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin: 10px;
  }

  .header-nav-list>a :hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .header-nav-list>a+a {
    margin-top: 12px;
  }

  .header-nav>input[type=checkbox]:checked~.header-nav-list {
    display: inline-flex;
  }

  .header-nav>input[type=checkbox]:checked~.toggle {
    display: none;
  }

  .header-nav>input[type=checkbox]:checked~.cross {
    display: block;
  }

  .header-nav>input[type=checkbox]~.cross {
    display: none;
  }

  .header-nav-hamburger {
    display: block;
  }

  .article {
    padding-top: 100px;
  }

  .article-content-first,
  .article-content-second {
    flex-wrap: wrap;
  }

  .article-content-first>p,
  .article-content-second>p,
  .article-content-second>img {
    flex-basis: 100%;
    margin-right: 0;
  }

  .image-list>img {
    width: 330px;
  }

  .picture-label-line {
    width: 260px;
  }

  .label {
    margin-bottom: 50px;
  }

  .label>h2 {
    flex-basis: 65%;
  }

  .line {
    flex-basis: 45%;
    width: 145px;
  }

  .calculator-main>button {
    width: 100%;
  }

  .drop-file {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .accept {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .calculator-file-load-bot>p {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .calculator-file-load-bot>button {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .calculator-main-text-dropdown {
    flex-basis: 100%;
    width: 100%;
    margin-right: 0;
  }

  .calculator-main-text-dropdown>select {
    width: 100%;
  }

  .result-button {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    width: 100%;
  }

  .calculator-form {
    flex-basis: 100%;
    width: 100%;
    margin: 35px 0 0 0;
  }

  .calculator-form>label {
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts {
    padding: 100px 30px 70px 30px;
    flex-direction: column;
  }

  .footer-nav,
  .footer-nav-list {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav>.logo {
    margin-bottom: 80px;
  }
}